/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('images\fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, label {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.botones{
    padding-top: 20px;  
}


